h2 {
    color: #E94F37;
}
body {
    background: #393E41; color: #FFBA49;
}
h7 {
    color: #FFBA49;
}
h4 {
    color: #545E75;
}
li {
    color: #9EBC9F;
}
a {
    color: #9EBC9F;
}
li {
    list-style: none;
}
.surname {
    color: #7d4ea5;
}
#Objectives h4 {
    color: white;
}
#Education h4 {
    color: white;
}
h4 {
    color: white;
}
#Objectives {
    margin-top: -0.2em;
}
.profile-pic {
    border-radius: 50%;
}